*{
	margin: 0;
	padding: 0;
	font-family:'Electrolize';
	box-sizing: border-box;
}

.contenedor{
	background-image: url(../img/fondo2.png);
	background-size: cover;
  	background-position: center ;
  	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.front-end{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;	
	margin-top: 5rem;
	height: 70%;
}

.front-end .texto{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	letter-spacing: 10px;
	height: 30%;
	
}

.texto .nombre{
	font-size: 55px;
	color: #fafafa;
	transform: scaleY(2);
}

.texto .profesion{
	font-size: 35px;
	color: #48d1cc;
	padding: 10px 0;
	margin-top: 10px;
	border-bottom: 3px solid #48d1cc;
}

.flecha i{
	color: #48d1cc;
	font-size: 3rem;
	font-weight: 100px;
	margin-top: 4rem;
	position: relative;
	animation: bouncearrow 2s infinite;
	text-align: center;
}

@keyframes bouncearrow{
	0%{top:0px;}
	50%{top:20px; color:#fafafa;}
	100%{top:0px;}
}

.menu{
	display: flex;
	justify-content: center;
	border-top: 2px solid #000;
	border-bottom: 5px solid #48d1cc;
}

/*Clase para Jquery*/

.menu-fixed {
    position:fixed;
	z-index:1000;
	width: 100%;
	background-color: #000;
	top:0;
}
/*-----------------*/

.item-menu{
	width: 25%;
	padding: 30px 0;
	text-align: center;
	background-color: rgba(0,0,0,.3);
	font-size: 20px;
	font-weight: bolder;
	letter-spacing: 5px;
	border-radius: 1.5px;
	color: #48d1cc;
}

.item-menu:hover{
	transition: all 1s;
	cursor: pointer;
	background-color: #48d1cc;
	color: #000;
}

/*-----ACERCA DE-----*/

.acerca-de{
	background-color: #fafafa;
	text-align: center;
	padding: 30px;
}
.acerca-de img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	display: block;
	filter: sepia(100%);
	margin: auto;
}


.acerca-de h2{
	margin: 30px; 
	font-size: 2.5rem;
}

.linea{
	border-bottom: 8px solid #48d1cc;
	width: 4%;
	margin: 10px auto;
}

.acerca-de p{
	margin: 3rem 10rem;
	font-size: 1.5rem;
	letter-spacing: .2rem;
	line-height: 3rem;
}

/*-----TRABAJOS-----*/

.trabajos{
	text-align: center;
}	

.contenedor-trabajos{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 5%;
	background-color: #000;
	border-bottom: 5px solid #48d1cc;
	border-top: 5px solid #48d1cc;
}

.trabajo{
	width: 48%;
	color: #fafafa;
	opacity: 0.3;
	padding: 20px;
}

.trabajo:hover{
	opacity: 1;
	transition: 1s all;
}

.trabajo .img img{
	width: 100%;
	height: 300px;
}

.trabajo .botones{
	margin: auto;
}

.trabajo .botones a{
	text-decoration: none;
}

.botones a i{
	color: #fafafa;
	padding: 10px;
	border: 2px solid transparent;
	border-radius: 100%;
}

.botones a i:hover{
	color: #48d1cc;
	border: 2px solid #48d1cc;
	transition: 1s all;
}

.trabajo .texto{
	display: inline-flex;
}

.trabajo .texto p{
	font-size: 15px;
	padding: 5px;
}

footer{
	width: 100%;
	background-color: #f6f6f6;
}

footer .contacto{
	display: flex;
	justify-content: space-around;
	text-align: center;
	padding: 50px;
}

footer .contenedor-contacto h3{
 text-align: center;
 font-size: 40px;
 padding: 20px;
}

footer .contacto .contenedor-contacto{
	width: 40%;
}

footer .contacto .contenedor-contacto p{
	margin: 10px;
}

footer .contacto .contenedor-formulario{
	width: 40%;
}

::placeholder { 
	   
    color: rgba(255,255,255,0.3);
    opacity: 1; /* Firefox */
}

footer .contacto form input, textarea{
	width: 100%;
	border:1px solid #ccc;
	border-radius: 5px;
	padding: 15px 20px;
	margin: 2px auto;
	font-size: 20px;
	background-color: rgba(0,0,0, 0.8);
	color: #cecece;
}

footer .contacto form textarea{
	min-width: 100%;
	max-width: 100%;
	min-height: 200px;
	max-height: 250px;
}

footer .contacto form input[type="submit"]{
	background: #48d1cc;
	border:2px solid #ccc;
	color: #3b3b3b;
}

footer .contacto form input[type="submit"]:hover{
	background: #48d1dd;
}

.pie-pagina{
	background-color: #000;
	color: #fafafa;
	font-size: 14px;
}

.pie-pagina i{
	padding: 5px;
}
